n8n/n8n_save_file_workflow_async.json
{
  "name": "save-file-async",
  "nodes": [
    {
      "parameters": {
        "path": "save-file",
        "responseMode": "onReceived",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "statusCode": 200,
        "responseMode": "lastNode",
        "options": {},
        "responseData": "firstEntryJson"
      },
      "id": "Respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "binaryData": true,
        "propertyName": "file",
        "fileName": "\u0424\u0438\u043d\u0430\u043d\u0441\u043e\u0432\u044b\u0439_\u043f\u043b\u0430\u043d_\u0438_\u0434\u043e\u043b\u0433\u0438.xlsx",
        "folderId": "",
        "mode": "overwrite"
      },
      "id": "Drive_Upload",
      "name": "Google Drive \u2192 Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "GOOGLE_API_CREDENTIAL_ID",
          "name": "Google API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "123456789",
        "text": "\u0437\u0430\u043f\u0438\u0441\u0430\u043d\u043e \u0432 \u0442\u0440\u0435\u043a\u0435\u0440 \u0440\u0430\u0441\u0445\u043e\u0434\u043e\u0432:\n{{ $json[\"\u0434\u0430\u0442\u0430\"] }}, {{ $json[\"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f\"] }}, {{ $json[\"\u0441\u0443\u043c\u043c\u0430\"] }}\u20bd, {{ $json[\"\u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439\"] }}"
      },
      "id": "Telegram",
      "name": "Telegram \u2192 Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_API_CREDENTIAL_ID",
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Google Drive \u2192 Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive \u2192 Upload File": {
      "main": [
        [
          {
            "node": "Telegram \u2192 Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}